<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Test Suite">
    <test name="Browser Tests">
        <classes>
            <class name="com.test.browseropen"/>
            <class name="com.test.Evenold"/>
            <class name="com.test.loop"/>
        </classes>
    </test>
</suite>